html,body {
	margin: 0;
	padding: 0;
}

.container {
	display:inline;
	max-width: 450px;
	margin: 0 auto;
	padding: 0 10px;
}

.engine {
	max-width:940px;
	background-color:white;
	margin: 100px auto;
}

.options {
	margin: 0 auto;
	max-width: 400px;
}

#DuckLogo{
	display:block;
	margin:0 auto;
	width:400px;
}

form{
	font-family:Arial;
}

input {
	display:inline-block;
	margin:0;
	padding:0;
}

#txtF {
	margin:0;
	padding:0;
	height:25px;
	width:88%;	
}

#smt {
	border:0;
	margin: 0 0 0 -3px;
	padding:0;
	height:29px;
	width:10%;
	color:white;
	background-color:forestgreen;
}

.opt {
	margin: 10px;
}
